[Unit]
Description=nftables
Documentation=man:nftables(8)

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/nftablesctl start
ExecStop=/usr/bin/nftablesctl stop

[Install]
WantedBy=multi-user.target
